* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    color: #333;
}
nav {
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10% 10px 10%;
}

nav h2 {
    color: white;
    font-size: 1.9rem;
}

nav ul li {
    display: inline-block;
    list-style-type: none;
    padding: 15px;
}

nav ul li a {
    font-size: 1.3rem;
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    color: rgb(169, 207, 235);
    transition: 1.02s;
}
.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

header {
    text-align: center;
    margin-bottom: 40px;
}

h1 {
    font-size: 3em;
    color: #4CAF50;
}

h2 {
    color: #333;
    margin-bottom: 10px;
}

form {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
}

input {
    padding: 10px;
    font-size: 1em;
    width: 200px;
}

button {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

#food-list {
    list-style-type: none;
    padding: 0;
}

#food-list li {
    background-color: #fff;
    margin: 5px 0;
    padding: 10px;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

#food-list li button {
    background-color: #f44336;
    border: none;
    color: white;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 4px;
}

#food-list li button:hover {
    background-color: #e53935;
}

#log-summary {
    text-align: center;
    margin-top: 30px;
}

#log-summary p {
    font-size: 1.2em;
    font-weight: bold;
}
