@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

:root {
  --primary-color: #f1eee9;
  --secondary-color: #f9d678; 
  --tertiary-color: #f54725;
  --text-dark: #13313c;
  --text-light: #475569;
  --white: #ffffff;
  --max-width: 1200px;
  --header-font: "Rubik", sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.section__container {
  max-width: var(--max-width);
  margin: auto;
  padding: 5rem 1rem;
}

img {
  display: flex;
  width: 100%;
}

a {
  text-decoration: none;
  transition: 0.3s;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--primary-color);
}

nav {
  position: fixed;
  isolation: isolate;
  width: 100%;
  z-index: 9;
}

.nav__header {
  padding: 1rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--text-dark);
}

.nav__logo a {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--white);
}

.nav__logo a span {
  padding: 3px 7px;
  margin-inline: 5px;
  font-size: 1rem;
  background-color: rgb(155, 228, 81);
  border-radius: 100%;
}

.nav__menu__btn {
  font-size: 1.5rem;
  color: var(--white);
  cursor: pointer;
}

.nav__links {
  position: absolute;
  top: 64px;
  left: 0;
  width: 100%;
  padding: 2rem;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
  background-color: var(--text-dark);
  transition: 0.5s;
  z-index: -1;
  transform: translateY(-100%);
}

.nav__links.open {
  transform: translateY(0);
}

.nav__links a {
  font-weight: 500;
  color: var(--white);
  transition: 0.3s;
}

.nav__links a:hover {
  color: var(--secondary-color);
}

.nav__btns {
  display: none;
}

.header__container {
  display: grid;
  gap: 2rem;
}

.header__image img {
  max-width: 550px;
  margin-inline: auto;

}

.header__content {
  text-align: center;
}

.header__content h2 {
  margin-bottom: 0.5rem;
  font-size: 1.4rem;
  font-weight: 600;
  color: var(--text-dark);
}

.header__content h1 {
  margin-bottom: 1rem;
  font-size: 4.25rem;
  font-weight: 600;
  font-family: var(--header-font);
  line-height: 5rem;
  color: var(--text-dark);
}

.header__content p {
  margin-bottom: 2rem;
  font-size: 1.1rem;
  font-weight: 500;
  line-height: 1.75rem;
  color: var(--text-light);
}

.header__btns {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.header__btns img {
  max-width: 150px;
  border-radius: 5px;
}

@media (width > 768px) {
  nav {
    position: static;
    padding-block: 2rem 0;
    padding-inline: 1rem;
    max-width: var(--max-width);
    margin-inline: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
  }

  .nav__header {
    flex: 1;
    padding: 0;
    background-color: transparent;
  }

  .nav__logo a {
    font-size: 2rem;
    color: var(--text-dark);
  }

  .nav__logo a span {
    padding: 6px 9px;
    color: var(--white);
  }

  .nav__menu__btn {
    display: none;
  }

  .nav__links {
    position: static;
    padding: 0;
    flex-direction: row;
    background-color: transparent;
    transform: none;
  }

  .nav__links a {
    padding-block: 5px;
    color: var(--text-light);
    border-bottom: 2px solid transparent;
  }

  .nav__links a:hover {
    border-color: var(--secondary-color);
  }

  .nav__btns {
    display: flex;
    flex: 1;
  }

  .nav__btns .btn {
    padding: 0.75rem 2rem;
    outline: none;
    border: none;
    font-size: 1rem;
    font-weight: 600;
    white-space: nowrap;
    color: var(--text-dark);
    background-color: var(--tertiary-color);
    border-radius: 5rem;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
    transition: 0.3s;
    cursor: pointer;
  }

  .nav__btns .btn:hover {
    color: var(--white);
    background-color: var(--secondary-color);
  }

  .header__container {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }

  .header__image {
    grid-area: 1/2/2/3;
  }

  .header__content {
    text-align: left;
  }

  .header__btns {
    justify-content: flex-start;
  }
}
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Luckiest+Guy&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Paytone+One&family=Rammetto+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Luckiest+Guy&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Belleza&family=Comic+Neue:wght@400;700&family=Cormorant+Infant&family=Poppins&family=Sahitya:wght@700&family=Ubuntu&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');

body
{
    margin: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(to top, rgb(130, 130, 171) 0%, rgb(107, 218, 107) 100%);
}
.footer
{
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-bottom: 0px;
    width: 100%;
    height: 450px;
    background: url("data:image/svg+xml;charset=utf-8,<svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' style='margin:auto;background:rgba(221, 221, 221, 0);display:block;z-index:1;position:relative' width='3000' height='588' preserveAspectRatio='xMidYMid' viewBox='0 0 3000 588'><g transform='translate(1500,294) scale(-1,-1) translate(-1500,-294)'><linearGradient id='lg-0.9997820734103322' x1='0' x2='1' y1='0' y2='0'><stop stop-color='%23ffffff' offset='0'></stop><stop stop-color='%23ffffff' offset='1'></stop></linearGradient><path d='' fill='url(%23lg-0.9997820734103322)' opacity='0.37'><animate attributeName='d' dur='10s' repeatCount='indefinite' keyTimes='0;0.333;0.667;1' calcMode='spline' keySplines='0.5 0 0.5 1;0.5 0 0.5 1;0.5 0 0.5 1' begin='0s' values='M0 0L 0 558.9888918874962Q 300 557.9557135224538  600 520.7201791558826T 1200 493.0888623871913T 1800 448.04775521801616T 2400 442.32786157869174T 3000 400.5000938220193L 3000 0 Z;M0 0L 0 531.8219503412562Q 300 581.2367793971861  600 536.6456794845121T 1200 526.1199153747991T 1800 453.6567543549444T 2400 426.5449945053999T 3000 429.5661867072931L 3000 0 Z;M0 0L 0 572.7600127243211Q 300 599.6891402698932  600 560.6693012791557T 1200 514.6895687962055T 1800 485.3535117451038T 2400 447.8902433799051T 3000 454.9458231426154L 3000 0 Z;M0 0L 0 558.9888918874962Q 300 557.9557135224538  600 520.7201791558826T 1200 493.0888623871913T 1800 448.04775521801616T 2400 442.32786157869174T 3000 400.5000938220193L 3000 0 Z'></animate></path></g></svg>") no-repeat center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;

    
}
.footer-heading
{
    height: fit-content;
    font-family: 'Rammetto One', cursive;
    margin: auto;
    font-size: 5vw;
}
.footer-content
{
    width: 100%;
    height: 80%;
    display: flex;
}
.footer-bottom
{
    margin: auto;
    width: 100%;
    height: 20%;
    display: flex;
    font-family: 'Josefin Sans', sans-serif;
}
.footer-bottom-sec
{
    margin: auto;
}
.footer-bottom-sec a
{
    text-decoration: none;

    color: #0a0a0a;
}
.footer-bottom-sec a:hover
{
    font-weight: 700;
}
.footer-section
{
    margin: auto;
}
.d-footer-ul
{
    list-style: none;
    font-family: 'Josefin Sans', sans-serif;
}
.d-footer-li
{
    margin-bottom: 5px;
}
.d-footer-li:hover
{
    cursor: pointer;
    transform: translateX(10px);
    transition: all 0.4s;
    font-weight: 700;
}
.d-footer-li-h
{
    margin-bottom: 10px;
}
.logo
{
    max-width: 120px;
    max-height: 120px;
    display: flex;
    margin: auto;
   margin-top: 10px;
}
.logo-head
{
    font-family: 'Josefin Sans', sans-serif;
    margin: auto;
    display: flex;
}
.logo a
{
    margin: auto;
    max-width: 100%;
}

@media only screen and (max-width: 900px) 
{
    .footer
    {
        display: flex;
        flex-direction: column;
        margin: auto;
        margin-bottom: 0px;
        width: 100%;
        height: fit-content;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: bottom;
        background: url("data:image/svg+xml;charset=utf-8,<svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' style='margin:auto;background:rgba(221, 221, 221, 0);display:block;z-index:1;position:relative' width='3000' height='588' preserveAspectRatio='xMidYMid' viewBox='0 0 3000 588'><g transform='translate(1500,294) scale(-1,-1) translate(-1500,-294)'><linearGradient id='lg-0.9997820734103322' x1='0' x2='1' y1='0' y2='0'><stop stop-color='%23ffffff' offset='0'></stop><stop stop-color='%23ffffff' offset='1'></stop></linearGradient><path d='' fill='url(%23lg-0.9997820734103322)' opacity='0.37'><animate attributeName='d' dur='10s' repeatCount='indefinite' keyTimes='0;0.333;0.667;1' calcMode='spline' keySplines='0.5 0 0.5 1;0.5 0 0.5 1;0.5 0 0.5 1' begin='0s' values='M0 0L 0 558.9888918874962Q 300 557.9557135224538  600 520.7201791558826T 1200 493.0888623871913T 1800 448.04775521801616T 2400 442.32786157869174T 3000 400.5000938220193L 3000 0 Z;M0 0L 0 531.8219503412562Q 300 581.2367793971861  600 536.6456794845121T 1200 526.1199153747991T 1800 453.6567543549444T 2400 426.5449945053999T 3000 429.5661867072931L 3000 0 Z;M0 0L 0 572.7600127243211Q 300 599.6891402698932  600 560.6693012791557T 1200 514.6895687962055T 1800 485.3535117451038T 2400 447.8902433799051T 3000 454.9458231426154L 3000 0 Z;M0 0L 0 558.9888918874962Q 300 557.9557135224538  600 520.7201791558826T 1200 493.0888623871913T 1800 448.04775521801616T 2400 442.32786157869174T 3000 400.5000938220193L 3000 0 Z'></animate></path></g></svg>") no-repeat center center;
      
    }
    .footer-content
    {
        width: 100%;
        height: 80%;
        display: flex;
        flex-direction: column;
    }
    .footer-bottom
    {
        margin: auto;
        margin-bottom: 0px;
        height: 20%;
        display: flex;
        flex-direction: column;
        font-family: 'Josefin Sans', sans-serif;
    }
    .logo-head b
    {
        font-family: 'Josefin Sans', sans-serif;
        margin: auto;
        text-align: center;
    } 
    .d-footer-ul
    {
        list-style: none;
        font-family: 'Josefin Sans', sans-serif;
    }
    .d-footer-li
    {
        margin-bottom: 5px;
        margin-left: -40px;
        text-align: center;
    }
    .d-footer-li-h
    {
        margin-bottom: 10px;
        margin-left: -40px;
        text-align: center;
    }
}